/venv
/venv2
/__pycache__
/.idea
/FunPayAPI/__pycache__
/logs
/storage
/configs
/plugins
/build
/dist
test.py
backup.zip
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
/cardinal
/locales copy old
/starvellsigma
/starvellbot
/configsexample/*.cfg